#edit.container{
	height: 100%;
	align-content: center;
	background-image: url('../../resources/images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Numans', sans-serif;
	padding: 0;
    width: 100%;
	max-width: 100% !important;
	min-width: 100% !important;
}

#edit .card{
	height: 510px;
    margin-bottom: auto;
    width: 80%;
	background-color: rgba(0,0,0,0.5) !important;
}
#edit .card-body{
	overflow-y: auto;
}
#edit .form-group {
    margin-bottom: 0.7rem;
}

#edit .card-header h3{
	color: white;
}

#edit .input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}

#edit input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

#edit .checkit{
	color: white;
}

#edit .checkit input
{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

#edit .update_btn{
	color: black;
	background-color: #FFC312;
	width: 100px;
}

#edit .edit_btn:hover{
	color: black;
	background-color: white;
}

#edit .input-group-text{
	font-size: 20px;
}

#edit .input-group{
	float: left;
}

#edit .input-group-lable{
	float: left;
	width: 100%;
	color: #fff;
}

#edit #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
#edit .radio-button-group{
	cursor: pointer;
}

#edit .btn-radio{
	width: 70px;
    height: 38px;
    padding: 8px;
}

#edit .btn-radio.active{
	color: #fff;
    background-color: #ffc312;
    border-color: #ffc312;
}
#edit .btn-radio.notActive{
	color: #49505;
}

#edit .dropdown .btn:focus{
	outline: 0;
    box-shadow: none;
}

#edit .dropdown .btn-dropdown{
	color: #49505;
    background-color: #fff;
    border-color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#edit .dropdown-menu.show {
    display: block;
    text-align: center;
    width: -webkit-fill-available;
    border-radius: 0;
}

#edit .profileName{
	color: #fff;
	font-weight: 700;
}